<nav class="navbar">
  <div class="nav-left">
    <a
      routerLink="https://med2.msu.ac.th/mhealth/img/007-med-msu.png"
      class="logo"
    ></a>
    <div class="textlogo">
      <h2>โรงพยาบาลสุทธาเวช</h2>
      <h3>คณะแพทยศาสตร์ มหาวิทยาลัยมหาสารคาม</h3>
    </div>
  </div>

  <div class="nav-right">
    <a
      [routerLink]="
        position === 'admin'
          ? '/staffs'
          : position === 'staff'
            ? '/patients'
            : '/login'
      "
      >หน้าแรก</a
    >
    <a *ngIf="position === 'admin'" routerLink="/addstaff">
      เพิ่มข้อมูลเจ้าหน้าที่
    </a>
    <a (click)="logout()" style="cursor: pointer;">ออกจากระบบ</a>
  </div>
</nav>
