<app-header></app-header>

<div class="page">
  <div class="search-bar">
    <input
      type="text"
      placeholder="🔍 ค้นหายา หรือ แพทย์..."
      (input)="search($event)"
    />
  </div>

  <div class="grid">
    <div
      class="patient-card"
      *ngFor="let p of prescriptions$ | async"
      (click)="openDetail(p)"
    >
      <div class="card-header">
        <h3>ใบสั่งยา {{ p.prescriptionId }}</h3>
      </div>

      <div class="card-body">
        <p class="name">{{ p.med_list }}</p>
        <p class="cid">แพทย์ : {{ p.doctor_name }}</p>
        <p class="cid">ผู้ป่วย ID : {{ p.patientId }}</p>

        <p class="price" *ngIf="p.cost">ค่าใช้จ่าย {{ p.cost }} บาท</p>

        <p
          class="status"
          [class.paid]="p.pay_status === 'ชำระแล้ว'"
          [class.unpaid]="p.pay_status === 'ยังไม่ชำระ'"
        >
          สถานะ : {{ p.pay_status }}
        </p>
      </div>

      <!-- <div
        class="button-group"
        *ngIf="p.pay_status === 'ชำระแล้ว'"
        (click)="$event.stopPropagation()"
      >
        <button class="confirm">ยืนยัน</button>
        <button class="qr" (click)="showQR(p)">QR Code</button>
      </div> -->
      <div class="button-group" (click)="$event.stopPropagation()">
        <ng-container *ngIf="p.pay_status === 'ชำระแล้ว'">
          <!-- <button class="confirm">ยืนยัน</button> -->
          <button class="qr" (click)="showQR(p)">แสดง QR Code</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
